@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primaryColor: #3b82f6;
  --secondaryColor: #020617;
  --primaryGreen: #16a34a;
}
