@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primaryColor: #3b82f6;
  --secondaryColor: #020617;
  --primaryGreen: #16a34a;
  --btncolor: #334155;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.nav-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.search {
  width: 622px;
  height: 40px;
  gap: 10px;
  display: flex;
  padding: 10px;

  border: 1px solid #334155;
  border-radius: 8px;
}
.search input {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}
.icons {
  align-items: center;
  display: flex;
  width: 206px;
  height: 40px;
  gap: 24px;
  & img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.sign-up {
  width: 75px;
  height: 40px;
  padding: 10px;
  background: #334155;
  color: white;
  border: 1px solid gray;
}
.sign-in {
  width: 73px;
  height: 40px;
  padding: 10px;
}
.hero-section {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.hero-text {
  width: 592px;
  height: 262px;
  & h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    width: 483px;
    height: 96px;
    margin-bottom: 20px;
  }
  & p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 30px;
  }
}
.img-section {
  width: 50%;
  & img {
    width: 80%;
    height: 80%;
    margin-left: 50px;
  }
}

.hero-btn {
  width: 238px;
  height: 48px;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--primaryColor);
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.counters {
  width: 100%;
  height: 149px;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  background: #f8fafc;

  & section {
    text-align: center;
    width: 192px;
    height: 69px;

    & p {
      font-family: Inter;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
    & span {
      font-family: Inter;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
    }
  }
}
.top-categories {
  width: 100%;
  height: 296px;
  margin-bottom: 30px;

  & .section-title {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 30px;

    & span {
      color: #3b82f6;
    }
  }
  .cat-card {
    width: 100%;
    text-align: center;
    height: 224px;
    gap: 8px;
    border: 1px solid #d1d7df;
    padding: 24px 93px;
    border-width: 1px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px #3472d41f;
    & h3 {
      font-family: Inter;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
    }
    & p {
      font-family: Inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
    }
    & img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}
.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
