@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primaryColor: #3b82f6;
  --secondaryColor: #020617;
  --primaryGreen: #16a34a;
  --btncolor: #334155;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
button {
  cursor: pointer;
}

.container {
  max-width: 1350px;
  margin: auto;
  padding-inline: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.nav-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.search {
  width: 622px;
  height: 40px;
  gap: 10px;
  display: flex;
  padding: 10px;

  border: 1px solid #334155;
  border-radius: 8px;
}
.search input {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}
.section-title {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 30px;

  & span {
    color: #3b82f6;
  }
}
.icons {
  align-items: center;
  display: flex;
  width: 206px;
  height: 40px;
  gap: 24px;
  & img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.sign-up {
  width: 75px;
  height: 40px;
  padding: 10px;
  background: #334155;
  color: white;
  border: 1px solid gray;
}
.sign-in {
  width: 73px;
  height: 40px;
  padding: 10px;
}
.hero-section {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.hero-text {
  width: 592px;
  height: 262px;
  & h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    width: 483px;
    height: 96px;
    margin-bottom: 20px;
  }
  & p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 30px;
  }
}
.img-section {
  width: 50%;
  & img {
    width: 80%;
    height: 80%;
    margin-left: 50px;
  }
}

.hero-btn {
  width: 238px;
  height: 48px;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--primaryColor);
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.counters {
  width: 100%;
  height: 149px;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  background: #f8fafc;
  margin-block: 30px;

  & section {
    text-align: center;
    width: 192px;
    height: 69px;

    & p {
      font-family: Inter;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
    & span {
      font-family: Inter;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
    }
  }
}
.top-categories {
  width: 100%;
  height: 296px;
  margin-bottom: 30px;

  .cat-card {
    width: 100%;
    text-align: center;
    height: 224px;
    gap: 8px;
    border: 1px solid #d1d7df;
    padding: 24px 93px;
    border-width: 1px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 0px #3472d41f;
    & h3 {
      font-family: Inter;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
    }
    & p {
      font-family: Inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
    }
    & img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}
.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  margin-right: 20px;
}
.course-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 338px;
  gap: 8px;
  border-width: 1px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 0px 8px 0px #3b82f61f;
  & h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
  }
  & small {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  section {
    width: 194px;
    height: 20px;
    display: flex;
    gap: 8px;
    align-items: center;

    & span {
      font-family: Inter;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}
.top-course-section {
  width: 100%;
}
.top-instructors-section {
  margin-bottom: 20px;
}

.instructors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.intructor-card {
  width: 212px;
  /* height: 281px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-width: 1px;
  padding: 16px;
  padding-bottom: 10px;
  border-radius: 16px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 0px 8px 0px #3b82f61f;
  & h3,
  small {
    text-align: center;
  }

  & hr {
    width: 180px;
    border-width: 1px;
    border: 1px solid #e2e8f0;
  }
}
.rating {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  & p {
    font-family: Inter;
    font-weight: 600;
    font-size: 12px;
    padding-top: 3px;
  }
  & section {
    width: 43px;
    height: 20px;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
  }
}
.testimonial {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #f8fafc;
  padding-inline: 20px;
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 308px;
    height: 68px;
    top: 80px;
    left: 80px;
  }
  & span {
    width: 56px;
    height: 40px;
    gap: 6px;
    padding: 10px 16px;
    border-radius: 8px;
    background: #94a3b8;
    color: #fff;
    cursor: pointer;
  }
  & .bx {
    width: 24px;
    height: 24px;
    width: 6;
    height: 12;
    border-width: 2px;
  }
}
.testimonial-card {
  margin-block: 30px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border-width: 1px;
  padding: 24px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 0px 8px 0px #3b82f61f;

  & > img {
    margin-top: 10px;
  }
  & > .quote-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  & > p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-block: 10px;
  }
}
.quote-name {
  & p {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
  }
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.instructor-btn {
  width: 338px;
  height: 48px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--secondaryColor);
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.become-instructor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
.instructor-text {
  width: 549px;
  height: 154px;
  & > h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  & > p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-block: 10px;
  }
}

.become-instructor {
  margin-bottom: 90px;
  padding-bottom: 30px;
}

footer {
  height: 400px;
  padding-inline: 5%;
  padding-block: 5%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #cbd5e1;

  background: #1e293b;

  & ul {
    list-style-type: none;
    padding-bottom: 20px;
    & li {
      padding-top: 10px;
      font-family: Inter;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
    }
  }
}
.footer-abt {
  width: 416px;
  height: 161px;
}
.footer-abt p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding-top: 20px;
}
